cache/
lite/cache/
hiddify-cli/
**/hiddify-cli/
*.pid
hiddify-cli.tar.gz
current-config.json
clash.db
reports/invalid.txt
lite/reports/invalid.txt
reports/fetch_errors.txt
lite/reports/fetch_errors.txt
