cache/
lite/cache/
hiddify-cli/
**/hiddify-cli/
sing-box-bin/
**/sing-box-bin/
*.pid
hiddify-cli.tar.gz
sing-box.tar.gz
current-config.json
clash.db
cache.db
reports/invalid.txt
lite/reports/invalid.txt
reports/fetch_errors.txt
lite/reports/fetch_errors.txt
reports/singbox-test.log
lite/reports/singbox-test.log
